<%- include('../inc/header.ejs') %>

<div class="row">
    <div class="user-infor-container">

        <form method="POST" action="/users.create-product">

                <h2>Add Product</h2>
                <form id="productForm" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="productName" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="productName" name="productName" required>
                  </div>
                  <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" name="price" required>
                  </div>
                  <div class="mb-3">
                    <label for="productImage" class="form-label">Product Image</label>
                    <input type="file" class="form-control" id="productImage" name="productImage" accept="image/*" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Add Product</button>
                </form>

        </form>
    </div>


    
    <div class="table-user mt-3">
        <h3>Table User</h3>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ProductName</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% listSp.forEach(function(item,index){ %>
                        <tr>
                            <th scope="row"><%= item.id %></th>
                            <td><%= item.nameproduct %> </td>
                            <td><%= item.price %> </td>
                            <td><%= item.image %> </td>
                            <td>
                                <button class="btn btn-warning">Edit</button>
                                <form action="/dele-product/<%=item.id%>" method="POST" type="submit" style="display: inline;">
                                    <button class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                <%}) %>
               
            </tbody>
        </table>
    </div>
</div>

<%- include('../inc/footer.ejs') %>