<% include('../inc/header.ejs') %>

<div class="row">
    <div class="user-infor-container">

        <form method="POST" action="/users.create-product">

                <h2>Add Product</h2>
                <form id="productForm" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="productName" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="productName" name="productName" required>
                  </div>
                  <div class="mb-3">
                    <label for="productImage" class="form-label">Product Image</label>
                    <input type="file" class="form-control" id="productImage" name="productImage" accept="image/*" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Add Product</button>
                </form>

        </form>
    </div>


    <div class="table-user mt-3">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>

                    <% products.forEach(function(product) { %>
                        <tr>
                            <th scope="row">
                                <%= product._id %>
                            </th>
                            <td> <a href="/products/detail/<%= product._id %>">
                                    <%= product.nameproduct %>
                                </a></td>
                            <td>
                                <%= product.price%>
                            </td>
                            <td>
                                <%= product.image%>
                            </td>
                            <td>
                                <a href="/products/edit/<%= product._id %>" class="btn bg-success-subtle">Edit</a>
                                <a href="/products/delete/<%= product._id %>" class="btn bg-dark-subtle">Delete</a>

                            </td>
                        </tr>
                        <% }); %>



                </tbody>
            </table>
        </div>
</div>

<% include('../inc/footer.ejs') %>