<%- include('../inc/header.ejs') %>

<div class="row">
    <div class="user-infor-container">
        <a class="btn btn-primary" href="/addProduct">New Product</a>
    </div>


    <div class="table-user mt-3">
        <h3>Table User</h3>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">ProductName</th>
                    <th scope="col">Price</th>
                    <th scope="col">Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% listSp.forEach(function(item,index){ %>
                        <tr>
                            <th scope="row"><%= item.id %></th>
                            <td><%= item.nameproduct %> </td>
                            <td><%= item.price %> </td>
                            <td><%= item.image %> </td>
                            <td>
                                <button class="btn btn-warning">Edit</button>
                                <form action="/delete-product:idSp/<%=item._id%>" method="POST" type="submit" style="display: inline;">
                                    <button class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                <%}) %>
               
            </tbody>
        </table>
    </div>
</div>

<%- include('../inc/footer.ejs') %>